.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #09d3ac;
}

.Song {
  display: flex;
  margin-bottom: 10px;
}

.SongDesc {
  text-align: left;
}

.SongName {
}

.SongArtist {
  font-size: 0.65em;
}

.Song img {
  margin-right: 10px;
}

.TopBar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
